<%= render 'partials/header', title: 'About | Rails Posts App' %>

<h1>About Page</h1>

<!-- thats how u access images in app/assets folder -->
<%= image_tag "dutch.gif" %>

<!-- thats how u access images in public folder. With '/' -->
<%= image_tag  "/images/netherlands.gif" %>
